
body {
    margin: 0;
    font-family: 'Arima', cursive;
    font-size: 20 px;
}

.orange {
    font-size: 50px;
    color: orange
}

section {
    display: flex;
}

.suvo {
    width: 50%;
    padding: 40px;
    margin-left: 70px;
    margin-top: 50px;

}

.suvo img {
    width: 70%;
}
.wlc {
    font-size: 30px;
}
.dvl {
    font-size: 30px;
}
.button {
    margin-top: 200px;
    text-decoration: none;
    background-color: aqua;
   border-color: burlywood;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 8px;
    color: blue;
}
.topbanner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}