body {
    margin: 0;
    font-family: 'Arima', cursive;
    font-size: 20 px;
}

.orange {
    font-size: 50px;
    color: orange
}

section {
    display: flex;
}

.suvo {
    width: 50%;
    padding: 40px;
    margin-left: 70px;
    margin-top: 50px;

}

.suvo img {
    width: 70%;
    margin-top: 30px;
}

.wlc {
    font-size: 30px;
}

.dvl {
    font-size: 30px;
}

.button {

    text-decoration: none;
    background-color: aqua;
    border-color: burlywood;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 8px;
    color: blue;
}

.topbanner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.middle-banner {
    margin-top: 100px;
    display: flex;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.photo {
    width: 50%;
    margin-left: 70px;
    margin-right: 50px;
    
}

.photo img {
    width: 72%;
    margin-left: 80px;
    margin-top: 30px;
    
}

.h {
    margin-top: 50px;
    font-size: 50px;
    color: darkorange;
}

.s {
    font-size: 20px;
}

.btn {
    margin-top: 50px;
    text-decoration: none;
    background-color: aqua;
    border-color: burlywood;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 8px;
    color: blue;
}