body {
    margin: 0;
    font-family: 'Arima', cursive;
    font-size: 20 px;
}

.orange {
    font-size: 50px;
    color: orange
}

.container {
    display: flex;
}

.suvo {
    width: 50%;
    padding: 40px;
    margin-left: 70px;
    margin-top: 50px;

}

.suvo img {
    width: 70%;
    margin-top: 30px;
}

.wlc {
    font-size: 30px;
}

.dvl {
    font-size: 30px;
}

.button {

    text-decoration: none;
    background-color: aqua;
    border-color: burlywood;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 8px;
    color: blue;
}

.topbanner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.middle-banner {
    margin-top: 100px;
    display: flex;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.photo {
    width: 50%;
    margin-left: 70px;
    margin-right: 50px;

}

.photo img {
    width: 72%;
    margin-left: 80px;
    margin-top: 30px;

}

.h {
    margin-top: 50px;
    font-size: 50px;
    color: darkorange;
}

.s {
    font-size: 20px;
}

.btn {
    margin-top: 50px;
    text-decoration: none;
    background-color: aqua;
    border-color: burlywood;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 8px;
    color: blue;
}

.photo {}

.exp {
    color: coral;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding: 50px;
    margin-top: 50px;
}

.poto h3 {
    font-weight: 600;
    color: rgb(255, 55, 5)
}

.poto h1 {
    font-weight: 700;
    font-size: 30px;
}

.poto {
    width: 45%;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;


}

.experience {

    margin-bottom: 50px;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px;
}

#apon {
    border-left: 8px solid blue;
}

#apurbo {
    border-left: 8px solid greenyellow;
}

footer {
    text-align: center;
    color: black;
    font-size: 22px;
    font-weight: 400;
    padding: 30px;
    margin-top: 100px;

}

.drink img {
    width: 60%;
    margin-left: 135px;
    margin-right: 100px;
    margin-top: 100px;
}


.you {
    text-transform: uppercase;
    margin-left: 100px;
    margin-top: 250px;
    padding: 40px;
    font-size: 70px;
    color: deeppink;
    text-shadow: 8px 0.5px rgb(64, 83, 39);
    letter-spacing: 5px;
}

.me {
    text-transform: uppercase;
    margin-right: 100px;
    margin-top: 250px;
    padding: 40px;
    font-size: 70px;
    color: deeppink;
    text-shadow: 8px 0.5px rgb(64, 83, 39);
    letter-spacing: 5px;
}

#nn {
    color: rgb(18, 247, 56);
    text-shadow: 8px 0.5px rgb(64, 83, 39);
    text-transform: uppercase;
    text-align: center;
    font-size: 70px;
    margin-top: 150px;
    font-weight: bolder;
}

#hh {
    margin-top: -30px;
}